ejercicio26T4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pelicula">
        <xs:complexType>
            <xs:attribute name="título" type="xs:string" use="optional"/>
            <xs:attribute name="genero" type="xs:string" use="optional"/>
        </xs:complexType>
        
    </xs:element>
</xs:schema>